body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

main,header {
  width: 100%;
  display: flex;
  justify-content: center;
}

#section1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
}

#section2{
  display: flex;
  flex-direction: row;
  align-items: self-end;
  gap: 2rem;
}

table {
  border-collapse: collapse;
  box-shadow: 0px 0px 9px;
}

th, td {
  text-align: center;
  padding: 3.5px;
}

th {
  background-color:rgba(2, 2, 126, 0.774);
  color: white;
}

tr td{
  background-color: #f2f2f2;
} 

.negativo {
  background-color: #d9534f;
  color: white;
}

.positivo {
  background-color: #5cb85c;
  color: white;
}

#tableSupervisores th{
  background-color: #222;
  color: white;
}

thead th {
  border-bottom: 3px solid #003366;
}

#tableEspera {
  height: 40%;
  width: 25.5%;
  border-radius: 8px;
}

#tableSupervisores{
  width: 70%;
}